Require all denied
SetEnvIf Authorization "(.+)" HTTP_AUTHORIZATION=$1
<FilesMatch "^(login|logout|profile|dashboard|monitoring|telemetry-history|alerts|alert|incentives|oil-surrender|oil-surrenders|oil-surrender-photo)\.php$">
    Require all granted
</FilesMatch>
